@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import "tailwindcss";

@theme {
    --font-ct: "Crimson Text", sans-serif;
    --font-parisienne: "Parisienne", sans-serif;
    --font-parisienne: "Parisienne", sans-serif;

}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mask1 {
    /* Establece la imagen de la máscara */
    mask-image: url('/mask1.png');

    /* Asegúrate de que la máscara cubra el elemento */
    mask-size: 100% 100%;

    /* Asegúrate de que no se repita */
    mask-repeat: no-repeat;

    /* Puedes usar -webkit-mask para mayor compatibilidad */
    -webkit-mask-image: url('/mask1.png');
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}

.mask2 {
    /* Establece la imagen de la máscara */
    mask-image: url('/mask2.png');

    /* Asegúrate de que la máscara cubra el elemento */
    mask-size: 100% 100%;

    /* Asegúrate de que no se repita */
    mask-repeat: no-repeat;

    /* Puedes usar -webkit-mask para mayor compatibilidad */
    -webkit-mask-image: url('/mask2.png');
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}

.mask3 {
    /* Establece la imagen de la máscara */
    mask-image: url('/mask3.png');

    /* Asegúrate de que la máscara cubra el elemento */
    mask-size: 100% 100%;

    /* Asegúrate de que no se repita */
    mask-repeat: no-repeat;

    /* Puedes usar -webkit-mask para mayor compatibilidad */
    -webkit-mask-image: url('/mask3.png');
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}