---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Counter from "../components/Counter";
import Event from "../components/Events.astro";
import Itinerary from "../components/Itinerry.astro";
import DressCode from "../components/DressCode.astro";
import SuggestedGifts from "../components/SuggestedGifts.astro";
import RsvpForm from "../components/RsvpForm";
import FinalMessages from "../components/FinalMessages.astro";
---

<Layout>
	<main class="bg-[#141414] h-screen w-full md:py-10 overflow-hidden flex">
		<div
			class="bg-[url('/bg-paper.png')] max-w-sm w-full mx-auto flex flex-col h-full min-h-0 overflow-hidden"
		>
			<div
				class="flex-1 min-h-0 overflow-y-auto scrollbar-hide space-y-20 w-full"
			>
				<!--Header -->
				<Header />

				<!--Counter -->
				<div>
					<Counter client:load />
				</div>

				<!--Eventos -->
				<Event />

				<div class="h-[400px] mask2 overflow-hidden relative w-full">
					<img
						src="/02.webp"
						alt="Pareja en boda"
						class="absolute inset-0 h-full w-full object-cover object-right"
					/>
				</div>

				<!--Itinerario -->
				<Itinerary />

				<!--Codigo de vestimenta -->
				<DressCode />

				<div class="h-[400px] mask2 overflow-hidden relative w-full">
					<img
						src="/03.webp"
						alt="Pareja en boda"
						class="absolute inset-0 h-full w-full object-cover object-[40%]"
					/>
				</div>

				<!--Sugerencia de regalos -->
				<SuggestedGifts />

				<!--Confirmación de asistencia -->
				<div>
					<RsvpForm client:load />
				</div>

				<!--Mensaje final -->
				<FinalMessages />

				<div class="h-[400px] mask3 overflow-hidden relative w-full">
					<img
						src="/04.webp"
						alt="Pareja en boda"
						class="absolute inset-0 h-full w-full object-cover object-[70%]"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>
