---
import GiftIcon from "../assets/icons/GiftIcon.astro";
---

<section class="flex flex-col items-center px-10 text-center">
    <p class="font-bold mb-5 text-xl text-center uppercase">
        Sugerencia de regalos
    </p>
    <div class="h-16 mb-5 w-16">
        <GiftIcon />
    </div>
    <p class="mb-5">
        El mejor regalo es tu presencia, pero si deseas tener un detalle con
        nosotros, te dejamos esta opción:
    </p>
    <p class="font-semibold mb-2">LLUVIA DE REGALOS</p>
    <p class="mb-10">
        Puedes dejar tu sobre el día del evento en el área destinada para ello.
    </p>
    <span class="font-semibold mb-2">TRANSFERENCIA</span>
    <p>Banco ABC</p>
    <p>Cuenta:AAABBBCCCDDDD</p>
    <p>A nombre de: AABB CCDDEE FFGGHH</p>
</section>
